@charset "UTF-8";

/*
================================
    DEFINIÇÕES GLOBAIS
================================
*/
* {
    padding: 0px;
    margin: 0px;
}

/*
================================
    TEMA CLARO  
================================
*/
.tema-claro {
    --cor-fundo: #f9f8f8;
    --cor-fonte: #984447;
    --cor-destaque: #0e103d;
    --cor-borda: #05a8aa;
    --cor-sombra: #034732;
    --cor-link: rgba(110, 153, 37, 0.559);
    --cor-anima: rgba(161, 79, 21, 0.592);
}

/*
================================
    TEMA ESCURO  
================================
*/
.tema-escuro {
    --cor-fundo: #150f0b;
    --cor-fonte: #74561a;
    --cor-destaque: #743e1a;
    --cor-borda: #F4A300;
    --cor-sombra: #B07A0F;
    --cor-link: #69182E;
    --cor-anima: #482D1B;
}

/*
================================
    FONTES
================================
*/
html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

/*
================================
    ESTRUTURA GERAL
================================
*/


/*==============================
    COMPONENTES
================================
*/


/*
================================
    ANIMAÇÕES
================================
*/